# Hi there! 👋

Welcome to my GitHub profile and today is {{date}} (updated every 3 hours). I'm {{name}}, driven by the ever-evolving challenges of cybersecurity, I am a Master's student in Cybersecurity at EFREI Paris. My strong background in computer engineering with a specialization in cybersecurity fuels my passion for solving complex problems and protecting systems from emerging threats.


## What I Do

- **Software Development**: Building web and applications.
- **Learning**: Continuously learning and experimenting in the cybersecurity field.

## Current Projects

## **🔎 Alibi 🔍**
<img src="https://github.com/Datharr/Datharr/blob/main/assets/Alibi_code.png" alt="Alibi Code Language" style="width: 300px; height: auto; margin-right: 20px; border: 10px solid #888;"/>
Available on iOS & Online, up to 4 players 
Suddenly, you and your friend find yourselves accused of murder! With just 60 seconds to establish and memorize your alibi, you'll need to think quickly and act fast before facing the judge!

<div style="display: flex; align-items: center;">
  <img src="https://github.com/Datharr/Alibi-Public-Version/blob/main/preview/2.jpg" alt="Actual Gameplay" style="width: 300px; height: auto; margin-right: 20px; border: 10px solid #888;"/>
  <img src="https://github.com/Datharr/Alibi-Public-Version/blob/main/preview/3.jpg" alt="Actual Gameplay" style="width: 300px; height: auto; margin-right: 20px; border: 10px solid #888;"/>
  <img src="https://github.com/Datharr/Alibi-Public-Version/blob/main/preview/4.jpg" alt="Actual Gameplay" style="width: 300px; height: auto; border: 10px solid #888;"/>
</div>

### Game Features

- **Memorize to Win:** You have 60 seconds to create and remember your alibi. Work with your partner to craft a convincing story before the interrogation!
  
- **Crucial Complicity:** Communicate and synchronize your responses with your partner to ensure a perfect alibi. Seamless collaboration is key to victory!
  
- **Various Scenarios:** Enjoy diverse and engaging scenarios, from a beach day to urban adventures or mysterious evenings, each offering a unique experience.


## 🎯 **Tower Defense** 🎯
<img src="https://github.com/Datharr/Datharr/blob/main/assets/TD_code.png" alt="TD Code Language" style="width: 300px; height: auto; margin-right: 20px; border: 10px solid #888;"/>
This game features various characteristics and options that make for an engaging and strategic experience. Your goal is to prevent monsters from reaching the end of the path by strategically placing and upgrading towers.

<img src="https://github.com/Datharr/TowerDefense/blob/main/preview.jpg" alt="Actual Gameplay" style="float: right; width: 350px; height: auto; margin-left: 20px;"/>

### Features

- **Adjustable Game Speed:** Speed up the game using the designated button.
- **Tower Placement:**
  - **Archer Towers:** Place archer towers using the button at the bottom-left of the screen.
  - **Mage Towers:** Place mage towers using the button to the right of the archer tower button.
- **Tower Upgrades:** Enhance your towers through a dedicated upgrade panel offering two types of upgrades:
  - **Speed Upgrade:** Increases the attack speed of your towers.
  - **Damage Upgrade:** Boosts the damage output of your towers.
- **Monster Waves:** Launch monster waves by clicking on the violet portals located on the right side of the level.
- **Mage Tower Effect:** Mage towers slow down enemies by 20%.
- **Economy System:** Manage your resources carefully to avoid overbuilding. Towers cost money, which you earn by defeating monsters.
- **Main Objective:** Prevent monsters from reaching the end of the path by strategically placing and upgrading your towers.

### 📝 **Exquisite Corpse Generator** 📝
<img src="https://github.com/Datharr/Datharr/blob/main/assets/Exquisite_corpse_code.png" alt="TD Code Language" style="width: 300px; height: auto; margin-right: 20px; border: 10px solid #888;"/>
This C program retrieves half a million lines from a French language dictionary and stores them in a tree data structure, where each node represents a letter (using a **trie**). The program then uses this dictionary to generate French sentences for the "Cadavre Exquis" game, a surrealist writing game, according to three predefined sentence models.



<img src="https://github.com/Datharr/Datharr/blob/main/assets/trie.png" alt="Actual Gameplay" style="float: right; width: 350px; height: auto; margin-left: 20px;"/>

### Features

- **Efficient Tree Data Structure**: The program uses a **trie** to store and manage the dictionary, optimizing both memory usage and lookup times.
- **Memory Management**: Optimized memory handling using `malloc`, ensuring that the program can handle large amounts of data efficiently.
- **Sentence Generation**: The program can generate grammatically correct French sentences based on three distinct models:
  - **Model 1**: `Noun - Adjective - Verb - Noun`
  - **Model 2**: `Noun - "qui" - Verb - Verb - Noun - Adjective`
  - **Model 3**: `Verb - Adverb - Noun - Adjective`
- **Extensive Codebase**: The program consists of over 1000 lines of code, structured for readability and maintainability with professional standards.

## 🏹 Landscape Runner 🏹
<img src="https://github.com/Datharr/Datharr/blob/main/assets/Landscape_runner_code.png" alt="TD Code Language" style="width: 300px; height: auto ; margin-right: 20px; border: 10px solid #888;"/>

**Landscape Runner** is a thrilling 2D side-scroller game where players navigate through dynamic environments, engage in epic boss battles, and enjoy stunning high-quality visuals. With over 1000 lines of meticulously crafted code, the game offers a seamless and immersive experience, featuring a parallax-scrolling environment that enhances the depth and feel of the game world.

<img src="https://github.com/Datharr/Datharr/blob/main/assets/trie.png" alt="Actual Gameplay" style="float: right; width: 350px; height: auto; margin-left: 20px;"/>

### Features

- **Parallax Scrolling**: The game employs parallax scrolling to create a multi-layered environment that moves at different speeds, giving the illusion of depth and enhancing the visual experience.
  
- **High-Quality Sprites**: All in-game characters, enemies, and objects are represented with high-quality sprites, ensuring crisp and detailed visuals.

- **Boss Battles**: Face off against challenging bosses, each with unique attack patterns and weaknesses. These encounters are designed to test your skills and strategy.

## 🌴 From Days to Daze 🌴
<img src="https://github.com/Datharr/Datharr/blob/main/assets/FDTD_code.png" alt="TD Code Language" style="width: auto; height: 35px; margin-right: 20px; border: 10px solid #888;"/>

**From Days to Daze** is a narrative survival card game set on a deserted island. Inspired by the game "Reigns," players are tasked with managing a survivor's hunger, thirst, health, and the mood of their companions. The game features a rich narrative, special events,  and a hand-drawn art style & cinematics. With over 300 cards in its database, the game provides a deep and engaging survival experience.

<img src="https://github.com/Datharr/Datharr/blob/main/assets/trie.png" alt="Actual Gameplay" style="float: right; width: 350px; height: auto; margin-left: 20px;"/>

### Features

- **Survival Management**: Balance the survivor’s hunger, thirst, health, and the mood of your companions to ensure their survival.
  
- **Special Events**: Encounter unique events that challenge your decision-making skills and impact the game’s narrative.

- **Narrative Structure**: Experience a compelling storyline with branching choices that affect the outcome of your survival adventure.

- **Cinematics and Animations**: Enjoy immersive cutscenes and animations that enhance the storytelling and game experience.

- **Seasonal Rotation**: Navigate through changing seasons that influence gameplay and survival strategies.

- **Hand-Drawn Art**: Immerse yourself in a visually stunning world with art created entirely by hand.

- **Extensive Card Database**: With over 300 unique cards, the game offers a wide range of scenarios, items, and decisions to explore.

## 🎲 Takuzu Grid Generator & Solver 🎲
<img src="https://github.com/Datharr/Datharr/blob/main/assets/Takuzu_code.png" alt="TD Code Language" style="width: 300px; height: auto; margin-right: 20px; border: 10px solid #888;"/>

Welcome to the **Takuzu Grid Generator & Solver** This tool is designed to generate and solve Takuzu (also known as Binero or Bento) puzzles of any size. Takuzu is a logic game similar to Sudoku, where the goal is to fill a grid with 0s and 1s while satisfying certain constraints.

<img src="https://github.com/Datharr/Datharr/blob/main/assets/trie.png" alt="Actual Gameplay" style="float: right; width: 350px; height: auto; margin-left: 20px;"/>

### Features

- **Grid Generation**: Generate Takuzu grids of any size with a specified algorithm to ensure valid and solvable puzzles.

- **Hint Option**: Provide hints to assist in solving the puzzle. The generator can insert a number of clues into the grid to guide players.

- **Solver Algorithm**: Solve Takuzu puzzles using a built-in algorithm that finds a solution or verifies the puzzle's validity.

- **Constraints**: Ensure that the generated puzzles follow the Takuzu rules:
  - Each row and column must contain an equal number of 0s and 1s.
  - No more than two identical numbers should be adjacent horizontally or vertically.
  - No two rows or columns should be identical.

## 🚚 Operation Research: Advanced Transportation Optimization 🚚
<img src="https://github.com/Datharr/Datharr/blob/main/assets/OR_code.png" alt="OR Code Language" style="width: 500px; height: auto; margin-right: 20px; border: 10px solid #888;"/>
This project addresses transportation optimization problems for matrices up to 100,000 x 100,000, employing advanced algorithms such as North-West Corner, Balas-Hammer, and Stepping-Stone methods. We implement and rigorously test these algorithms to minimize transportation costs across complex networks.
The endeavor at hand involves the sophisticated problem of optimizing transportation allocations across a network of suppliers and consumers. Our goal is to develop a cutting-edge solution that minimizes transportation costs while adhering to complex constraints of supply and demand.

<img src="https://github.com/Datharr/Datharr/blob/main/assets/operation_research.png" alt="Actual Gameplay" style="float: right; width: 350px; height: auto; margin-left: 20px;"/>

### Core Objectives

- **Algorithmic Sophistication:** Employing advanced heuristic methods including:
  - **North-West Corner Method** and **Balas-Hammer Method** for initial feasible solutions.
  - **Stepping-Stone Method** enhanced with potential calculations to iteratively refine the optimal allocation.
- **Cycle Resolution:** Implementation of a Breadth-First Search (BFS) algorithm for detecting and resolving cycles within the transportation matrix.
- **Complexity Analysis:** Comprehensive assessment of algorithmic performance through empirical complexity analysis.

### Key Deliverables

- **Algorithmic Implementations:** Precision-crafted algorithms for initial allocation, cost calculation, and optimization.
- **Data Management:** Robust handling of transportation data with exacting formatting and display requirements.
- **Execution Traces:** Detailed documentation of results from various problem instances, illustrating algorithm performance and solution accuracy.


<h3>Where to find me</h3>
<p>
  <a href="https://github.com/Datharr" target="_blank">
    <img alt="GitHub" src="https://img.shields.io/badge/GitHub-%2312100E.svg?&style=for-the-badge&logo=Github&logoColor=white" />
  </a>
  <a href="https://www.linkedin.com/in/mathieu-roche-efrei/" target="_blank">
    <img alt="LinkedIn" src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white" />
  </a>
  <a href="https://discord.com/users/dt.r" target="_blank">
    <img alt="Discord" src="https://img.shields.io/badge/Discord-%235865F2.svg?&style=for-the-badge&logo=discord&logoColor=white" />
  </a>
  <a href="mailto:mathieu.roche@efrei.net" target="_blank">
    <img alt="Outlook" src="https://img.shields.io/badge/Outlook-%230077B5.svg?&style=for-the-badge&logo=microsoft-outlook&logoColor=white" />
  </a>
   <a href="https://github.com/Datharr/Datharr/blob/main/assets/CV-EN.pdf" target="_blank">
    <img alt="CV" src="https://img.shields.io/badge/CV-%23000000.svg?&style=for-the-badge&logo=resume&logoColor=white" />
  </a>
</p>

