# Hi there! 👋

Welcome to my GitHub profile and today is {{date}}. I'm {{name}}, driven by the ever-evolving challenges of cybersecurity, I am a Master's student in Cybersecurity at EFREI Paris. My strong background in computer engineering with a specialization in cybersecurity fuels my passion for solving complex problems and protecting systems from emerging threats.


## What I Do

- **Software Development**: Building web and mobile applications.
- **Open Source Contributions**: Contributing to and maintaining open-source projects.
- **Learning**: Continuously learning and experimenting with new technologies.

## Current Projects

{{#projects}}
- **{{name}}**: {{description}}
{{/projects}}

## Connect with Me

- [LinkedIn]({{linkedin}})
- [Twitter]({{twitter}})
- [Personal Website]({{website}})

---

# Bonjour ! 👋

Bienvenue sur mon profil GitHub, et nous sommes le {{date2}}. Je suis {{name}}, étudiant en Master Cybersécurité à l'EFREI Paris, je suis passionné par les défis en constante évolution de ce domaine dynamique. Doté d'une solide formation en ingénierie informatique spécialisée en cybersécurité, je suis motivé par la résolution de problèmes complexes et la protection des systèmes informatiques contre les menaces émergentes.

## Ce que je fais

- **Développement logiciel** : Création d'applications web et mobiles.
- **Contributions open source** : Contribution à des projets open source et gestion de projets.
- **Apprentissage** : Apprentissage continu et expérimentation avec de nouvelles technologies.

## Projets en cours

{{#projects}}
- **{{name}}** : {{description}}
{{/projects}}

## Contactez-moi

- [LinkedIn]({{linkedin}})
- [Site personnel]({{website}})

